body {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
}

.formulario {
  max-width: 800px;
  width: 100%;
  height: 402px;
  background-image: url(./img/bg-repeat.jpg);
  margin: 0 auto;
  display: flex;
  padding: 20px 50px;
  gap: 74px;
  border-radius: 5px;
}

.textos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  text-align: start;
  gap: 20px;
}

.textos h2 {
  font-weight: 700;
  color: white;
  font-size: 20px;
}

.textos p {
  text-align: start;
  font-weight: 300;
  color: white;
}

form {
  width: 340px;
  height: 370px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.campo {
  max-width: 400px;
  width: 100%;
  margin-bottom: 8px;

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    resize: vertical;
  }
}

.aviso {
  font-size: 15px;
  text-align: start;
  font-weight: 700;
  width: 150px;
  height: 18px;
  padding-bottom: 25px;
}

/* --- btn personalizado --- */

.btn {
  background-color: #a073bf;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  border: 3px solid #f9c23c;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.btn p {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  margin-left: 40px;
  transition: all 0.5s ease;
}

.send {
  position: absolute;
  top: 10px;
  left: 30px;
  color: #fff;
  transition: all 0.5s ease;
}

.send2 {
  position: absolute;
  top: 80px;
  left: 30px;
  color: #696666;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #f9c23c;
  transition: all 0.5s ease;
}

.btn:hover p {
  color: #696666;
  transition: all 0.5s ease;
  animation: move 1s linear 1s forwards;
}

.btn:hover .send {
  top: -50px;
  transition: all 0.5s ease;
}

.btn:hover .send2 {
  top: 10px;
  transition: all 0.5s ease;
  animation: sending 1s linear 1s forwards;
}

@keyframes sending {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translate(40px, -60px);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-18px);
  }
}

span {
  display: none;
  font-size: 10px;
  font-style: italic;
  color: red;
}

/* --- styles para o js --- */

.border-red {
  border: 2px solid red !important;
}

.border-green {
  border: 2px solid greenyellow !important;
}
